<h3>Add new team</h3>

<%= form_with scope: :team, url: teams_path, local: true do |form| %>
  <% @team.errors.full_messages.each do |msg| %>
    <p class="bg-danger"><%= msg %></p>
  <% end %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </p>
<% end %>

<%#= link_to 'Monthly stats by day', stats_path, class: 'btn btn-info' %>