<h3>Edit your data</h3>

<%= form_with scope: :user, local: true do |form| %>
  <% @user.errors.full_messages.each do |msg| %>
    <p class="bg-danger"><%= msg %></p>
  <% end %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :surname %><br>
    <%= form.text_field :surname %>
  </p>
  <div>
    <%= form.label :birth_date %><br/>
    <%= datepicker_input(form, :birth_date) %>
  </div>

  <p>
  <div class="field">
    <%= form.label :weekly_kudos_limit %><br/>
    <%= form.number_field :weekly_kudos_limit, min: 0 %>
  </div>
  </p>

  <p>
  <div class="field">
    <%= form.label :avatar %><br/>
    <%= form.file_field :avatar, class: 'upload-file' %>
  </div>
  </p>

  <p>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </p>
<% end %>
